<div class="page-container">
<div class="flex">
    <div class="mb-3 ">
        <label for="broker" class="form-label">Broker</label>
        <input id="broker" class="form-control"[value]="model.broker?.company_name" name="broker" readonly>
    </div>
    <div class="mb-3 ">
        <label for="trip" class="form-label">Trip</label>
        <input type="text" [(ngModel)]="model.trip" name="trip" class="form-control" id="trip"
            readonly >
    </div>
    <div class="mb-3 ">
        <label for="passengers" class="form-label">Passengers</label>
        <input id="passengers" class="form-control" [(ngModel)]="model.passengers" name="passengers" readonly>
    </div>
    <div class="mb-3 ">
        <label for="luggage" class="form-label">Luggage</label>
        <input id="luggage" class="form-control" [(ngModel)]="model.luggage" name="luggage" readonly>
    </div>
</div>
<div class="flex">
    <div class="mb-3 ">
        <label for="from" class="form-label">From</label>
        <input id="from" class="form-control" [(ngModel)]="model.from" name="from" readonly>
    </div>
    <div class="mb-3 ">
        <label for="to" class="form-label">To</label>
        <input id="to" class="form-control" [(ngModel)]="model.to" name="to" readonly>
    </div>
</div>
<div class="flex">
    <div class="mb-3 ">
        <label for="departure" class="form-label">Departure Date</label>
        <input id="departure" class="form-control" [(ngModel)]="model.departure_date" name="departure" readonly>
    </div>
    <div class="mb-3 ">
        <label for="return" class="form-label">Return Date</label>
        <input id="return" class="form-control" [(ngModel)]="model.return_date" name="return" readonly>
    </div>
</div>
<div class="bids">
    <h6>Bids</h6>
    <div class="grid">
        <kendo-grid [data]="gridData"
[resizable]="true"
[selectable]="true"
[loading]="loading"
[style.height.%]="100"
[style.width.%]="100"
>
<ng-template kendoGridToolbarTemplate>
    <button kendoButton class="toolbar-btn"
            [icon]="'add'" (click)="add()"
            >Add Bid</button>
</ng-template>
<kendo-grid-column field="operator.company_name"
                               title="Operator"
                               [width]="80"
                               [class]="{'text-right': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="aircraft.aircraft"
                               title="Aircraft"
                               [width]="80"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="aircraft.year_of_manufacture"
                               title="Year of manufacture"
                               [width]="110"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
            </kendo-grid-column>
            <kendo-grid-column field="price"
            title="Bid"
            [width]="80"
            [class]="{'text-left': true}"
            [headerClass]="{'text-left': true}">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="currency-symbol">USD</span> {{dataItem.price | number}}
              </ng-template>
</kendo-grid-column>
</kendo-grid>
    </div>
</div>
</div>
<div class="k-overlay"
     *ngIf="opened"></div>