<div class="page-container">
    <h5 class="title">Request detail</h5>
<div class="flex">
    <div class="mb-3 ">
        <label for="broker" class="form-label">Broker</label>
        <input id="broker" class="form-control" [(ngModel)]="model.broker" name="broker" readonly>
    </div>
    <div class="mb-3 ">
        <label for="trip" class="form-label">Trip</label>
        <input type="text" [(ngModel)]="model.trip" name="trip" class="form-control" id="trip"
            readonly >
    </div>
    <div class="mb-3 ">
        <label for="passengers" class="form-label">Passengers</label>
        <input id="passengers" class="form-control" [(ngModel)]="model.passengers" name="passengers" readonly>
    </div>
    <div class="mb-3 ">
        <label for="luggage" class="form-label">Luggage</label>
        <input id="luggage" class="form-control" [(ngModel)]="model.luggage" name="luggage" readonly>
    </div>
</div>
<div class="flex">
    <div class="mb-3 ">
        <label for="from" class="form-label">from</label>
        <input id="from" class="form-control" [(ngModel)]="model.from" name="from" readonly>
    </div>
    <div class="mb-3 ">
        <label for="to" class="form-label">To</label>
        <input id="to" class="form-control" [(ngModel)]="model.to" name="to" readonly>
    </div>
</div>
<div class="flex">
    <div class="mb-3 ">
        <label for="departure" class="form-label">Departure Date</label>
        <input id="departure" class="form-control" [(ngModel)]="model.departure_date" name="departure" readonly>
    </div>
    <div class="mb-3 ">
        <label for="return" class="form-label">Return Date</label>
        <input id="return" class="form-control" [(ngModel)]="model.return_date" name="return" readonly>
    </div>
</div>
</div>