
<div class="chat-box" >
  <div class="chat-content" #chatBox>
    <div class="message" 
    [ngClass]="{'sent': message.sender !== other_user_id, 'received': message.sender === other_user_id}" 
         *ngFor="let message of messages">
      <p> {{message.message}}</p>
      <span class="timestamp">{{formatTimestamp( message.createdAt)}}</span>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="model.msg" name="msg" class="form-control" id="msg"
    required placeholder="Type a message">
    <button class="btn" [disabled]="!this.model.msg  || this.model.msg.trim() === ''" (click)="sendMessage()">Send</button>
  </div>
</div>