<app-header></app-header>
<div class="requests-container">
   <app-side-menu></app-side-menu>
    <div class="requests-content">
<h4 class="title">Requests</h4>
<div class="grid">
<kendo-grid [data]="gridData"
(cellClick)="cellClick($event)"
[sort]="sort"
(sortChange)="sortChange($event)"
[resizable]="true"
[pageable]="true"
[scrollable]="'scrollable'"
[selectable]="true"
[loading]="loading"
[style.height.px]="500"
[style.width.%]="100"
kendoGridSelectBy="_id"
[(selectedKeys)]="mySelection"
(dblclick)="onDblClick()"
>
<kendo-grid-checkbox-column [width]="10" [showSelectAll]="true">
</kendo-grid-checkbox-column>
<ng-template kendoPagerTemplate
                         let-total="total">
                <app-grid-pager [total]="total"
                                [selected]="mySelection.length">
                </app-grid-pager>
            </ng-template>
            <ng-template kendoGridToolbarTemplate>
               <button kendoButton class="toolbar-btn"
            [icon]="'add'" (click)="sendMessage()"
            >Send message</button>
        </ng-template>
<kendo-grid-column field="broker.company_name"
                               title="Broker"
                               [width]="40"
                               [class]="{'text-right': true}"
                               [headerClass]="{'text-center': true}">
                               <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.broker.company_name }}</div>
                              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="from"
                               title="From"
                               [width]="60"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-center': true}">
                               <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.from }}</div>
                              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="to"
                               title="To"
                               [width]="60"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
                               <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.to }}</div>
                              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="departure_date"
            title="Departure date"
            [width]="50"
            [class]="{'text-left': true}"
            [headerClass]="{'text-left': true}">
            <ng-template kendoGridCellTemplate let-dataItem>
             <div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.departure_date | date: 'yyyy-MM-dd'}}</div>
           </ng-template>
</kendo-grid-column>
<kendo-grid-column field="return_date"
title="Return date"
[width]="50"
[class]="{'text-left': true}"
[headerClass]="{'text-left': true}">
<ng-template kendoGridCellTemplate let-dataItem>
<div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.return_date | date: 'yyyy-MM-dd'}}</div>
</ng-template>
</kendo-grid-column>
<kendo-grid-column field="passengers"
title="Pax"
[width]="30"
[class]="{'text-left': true}"
[headerClass]="{'text-left': true}">
<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
    <div [@newDataHighlight]="dataItem.isNew ? 'new' : 'old'">{{ dataItem.passengers }}</div>
  </ng-template></kendo-grid-column>
</kendo-grid>
</div>
</div>
</div>
<div class="k-overlay"
     *ngIf="opened"></div>