<app-header></app-header>
<div class="requests-container">
   <app-side-menu></app-side-menu>
    <div class="requests-content">
<h4 class="title">Users</h4>
<div class="grid">
<kendo-grid [data]="gridData"
[resizable]="true"
[pageable]="true"
[loading]="loading"
[style.height.px]="500"
[style.width.%]="100"
>
<ng-template kendoGridToolbarTemplate>
</ng-template>
<ng-template  kendoPagerTemplate  let-total="total" >
    <app-grid-pager [total]="total"></app-grid-pager>
</ng-template>
<kendo-grid-column field="company_name"
                               title="User name"
                               [width]="100"
                               [class]="{'text-right': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="role"
                               title="User type"
                               [width]="100"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="country"
                               title="Country"
                               [width]="120"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
            </kendo-grid-column>
            <kendo-grid-column field="phone"
                               title="Phone"
                               [width]="100"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
            </kendo-grid-column>
            <kendo-grid-column field="email"
            title="Email"
            [width]="180"
            [class]="{'text-left': true}"
            [headerClass]="{'text-left': true}">
</kendo-grid-column>
<kendo-grid-column field="createdAt"
title="Join date"
[width]="180"
[class]="{'text-left': true}"
[headerClass]="{'text-left': true}">
</kendo-grid-column>
</kendo-grid>
</div>
</div>
</div>