/* 
.demo-header {
    padding: 5px;
    background-color: var(--darkblue) 
  }

  kendo-drawer-content {
    height: 500px;
    overflow: auto;
    padding-left: 10px;
    color:white
  }
  kendo-drawer{
    background-color: var(--darkblue);
  } */