<div class="demo-header">
    <button
      kendoButton
      icon="menu"
      fillMode="flat"
      styles="font-size: 24px"
      (click)="drawer.toggle()"
      class="drawer-btn"
    ></button>
  </div>
  <kendo-drawer-container>
    <kendo-drawer
      #drawer
      [items]="menu_items"
      [width]="200"
      mode="push"
      [(expanded)]="expanded"
    >
      <ng-template kendoDrawerItemTemplate let-item>
        <a class="k-drawer-link" [routerLink]="item.path">
          <span class="k-item-text">{{ item.text }}</span>
          <span class="k-icon {{ item.icon }}"></span>
        </a>
      </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
      <router-outlet></router-outlet>
    </kendo-drawer-content>
  </kendo-drawer-container>
  