<app-header></app-header>
<div class="dashboard-container">
   <app-side-menu></app-side-menu>
    <div class="dashboard-content">
        <div class="dashboard">Dashboard</div>
        <div class="chart">
<kendo-chart  style="width: 1200px; height: 650px">
    <kendo-chart-title text="Number of Brokers and Operators"  color="rgb(10, 44, 79)" font="20px Roboto"></kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item
        aggregate="count"
        type="column"
        [data]="seriesData"
        categoryField="category"
        field="number"
        color="rgb(8, 154, 130)"
      >
  
      </kendo-chart-series-item>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [min]="0" [majorUnit]="1">
          <kendo-chart-value-axis-item-labels color="rgb(10, 44, 79)" font="20px Roboto"  [format]="integerFormat"></kendo-chart-value-axis-item-labels>
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item  [labels]="{ color: 'rgb(10, 44, 79)',font:'20px Roboto' }">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
    </kendo-chart-series>
  </kendo-chart>
  </div>
  </div>
  </div>
