.requests-container{
    display:flex;
    height: calc(100vh - 100px);
  }
  
  .chart{
    margin-left : 20%;
    margin-bottom: 7%;
  }
  
  .dashboard{
    font-size: 1.5rem;
    margin: 10%;
    color: var(--darkblue)
  }