<app-header></app-header>
<div class="requests-container">
   <app-side-menu></app-side-menu>
    <div class="requests-content">
<h5 class="title">Requests</h5>
<div class="grid">
<kendo-grid [data]="gridData"
(cellClick)="cellClick($event)"
[sort]="sort"
(sortChange)="sortChange($event)"
[resizable]="true"
[selectable]="true"
[loading]="loading"
[style.height.%]="100"
[style.width.%]="100"
kendoGridSelectBy="_id"
[(selectedKeys)]="mySelection"
(dblclick)="onDblClick()"
>
<kendo-grid-checkbox-column [width]="20" [showSelectAll]="true">
</kendo-grid-checkbox-column>
<ng-template kendoGridToolbarTemplate>
    <button kendoButton class="toolbar-btn btn"
            [icon]="'add'"
            >Add </button>
</ng-template>
<kendo-grid-column field="trip"
                               title="Trip"
                               [width]="60"
                               [class]="{'text-right': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="from"
                               title="From"
                               [width]="60"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-center': true}">
            </kendo-grid-column>
            <kendo-grid-column field="to"
                               title="To"
                               [width]="60"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
            </kendo-grid-column>
            <kendo-grid-column field="departure_date"
                               title="Departure date"
                               [width]="110"
                               [class]="{'text-left': true}"
                               [headerClass]="{'text-left': true}">
            </kendo-grid-column>
            <kendo-grid-column field="return_date"
            title="Return date"
            [width]="110"
            [class]="{'text-left': true}"
            [headerClass]="{'text-left': true}">
</kendo-grid-column>
<kendo-grid-column field="passengers"
title="Passengers"
[width]="50"
[class]="{'text-left': true}"
[headerClass]="{'text-left': true}">
</kendo-grid-column>
</kendo-grid>
</div>
</div>
</div>
<div class="k-overlay"
     *ngIf="opened"></div>
