/* You can add global styles to this file, and also import other style files */

:root {
    --white: #ffffff;
    --darkblue: #061B30;
    --blue: #0A2C4F;
    --black: #000000;
    --green: #089A82;
  }
  
  body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 16px;
    color: var(--white)
  }

  p{
    margin-bottom: 0rem;
}

.k-notification-content {
  white-space: pre-line;
}

.k-grid td.k-selected, .k-grid .k-table-row.k-selected > td, .k-grid .k-table-td.k-selected, .k-grid .k-table-row.k-selected > .k-table-td{
  background-color: rgba(10, 44, 79, 0.2);
}

.k-drawer-wrapper{
  width: 100% !important
}

.k-checkbox:checked, .k-checkbox.k-checked{
  background-color: var(--blue);
  border-color: var(--blue);;
}

.k-checkbox:checked:focus, .k-checkbox.k-checked.k-focus {
  box-shadow:  none;
  
}

.k-checkbox:indeterminate, .k-checkbox.k-indeterminate {
  color: var(--blue) !important;
  background-image: none;
}