/* You can add global styles to this file, and also import other style files */

:root {
    --white: #ffffff;
    --darkblue: #061B30;
    --blue: #0A2C4F;
    --black: #000000;
    --green: #089A82;
  }
  
  body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 16px;
    color: var(--white)
  }

  p{
    margin-bottom: 0rem;
}
