/* You can add global styles to this file, and also import other style files */

:root {
    --white: #ffffff;
    --darkblue: #061B30;
    --blue: #0A2C4F;
    --black: #000000;
    --green: #089a82;
  }
  
  body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 16px;
    color: var(--white)
  }

  .logo{
    width: 80px;
    height: 80px;
    color :var(--white);
    font-family: 'racing sans one';
    font-size: 1.5rem;
}

  p{
    margin-bottom: 0rem;
}

.k-notification-content {
  white-space: pre-line;
}

.k-grid td.k-selected, .k-grid .k-table-row.k-selected > td, .k-grid .k-table-td.k-selected, .k-grid .k-table-row.k-selected > .k-table-td{
  background-color: rgba(10, 44, 79, 0.2);
}

.k-drawer-wrapper{
  width: 100% !important
}

.k-checkbox:checked, .k-checkbox.k-checked{
  background-color: var(--blue);
  border-color: var(--blue);;
}

.k-checkbox:checked:focus, .k-checkbox.k-checked.k-focus {
  box-shadow:  none;
  
}

.k-checkbox:indeterminate, .k-checkbox.k-indeterminate {
  color: var(--blue) !important;
  background-image: none;
}


.k-drawer-item > .k-drawer-link {
  color: var(--white);
  text-decoration: none;
}

.k-drawer-item.k-selected {
  background-color: var(--green) !important;
}

.k-grid-toolbar{
  background-color: var(--blue);

}

.k-grid-md .k-table-th > .k-cell-inner > .k-link {
  color: var(--darkblue);
  font-weight: Bold;
  font-size: 1rem;
}

.k-grid-header, .k-grid-header-wrap, .k-grouping-header, .k-grid .k-table-th, .k-grid td, .k-grid .k-table-td, .k-grid-footer, .k-grid-footer-wrap, .k-grid-content-locked, .k-grid-footer-locked, .k-grid-header-locked, .k-filter-row > .k-table-th, .k-filter-row > td, .k-filter-row > .k-table-td{
  color:var(--darkblue)
}

.drawer-btn{
  background-color: var(--blue) !important;
}

.form-control, .form-label{
  color: var(--darkblue)
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--darkblue);
  background-color: white;
  border-color: var(--darkblue);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.k-i-close::before {
  color: var(--green)
}

.k-i-window::before {
  color: var(--green)
}

.k-i-window-minimize::before{
  color: var(--green)
}
.k-window-title{
color: var(--white)
}

.k-window-titlebar {
  background-color: var(--blue);
}