.header {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right:2%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white
}

.header-logo{
    width:95px;
    height:100px;
}

.sections {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 1.2rem;
}

.button {
    background-color: var(--green);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    width: 110px
}


.map {
    background-image: url('../../../assets/images/map.jpg');
    background-position: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80vh;
    /* border-radius: 0.375rem; */

}

.map-text {
    position: absolute;
    margin-left: 2%;
    margin-top: 24%;
    /* padding-left: 1%; */
}

.map-text p {
    font-size: 1.8rem;
    font-weight: lighter;
}


.platform {
    background-color: var(--blue);
}

.platform-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 1.8rem;
}

.platform-text {
    padding: 5% 5%;
    font-weight: lighter;
}

.section {
    color: var(--darkblue);
}

.section-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 1.8rem;
}

.section-text {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section img {
    display: block;
    width: 50%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 0.375rem;

    /* margin-bottom: 40px; */
}

.section-content{
    display:flex
}

.row {
    margin-bottom: 20px
}

.box {
    padding: 3%;
    font-size: 1.2rem;
}

.box:hover {
    background-color: var(--green);
    border-radius: 0.375rem;
    color: var(--white);
    cursor: pointer;
}

.reverse{
    flex-direction: row-reverse;
}
.section-right{
    margin-right: 3%;
}
.section-left{
    margin-left: 3%;
}

.section p {
    font-weight: lighter;
}

.footer {
    background-color: var(--darkblue);
    margin-top: 5%
}

.about-us {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%
}

.disclaimer {
    text-align: center;
    width: 70%;
    margin: auto;
    font-weight: bold;
    margin-top: 50px;
    font-size: 0.8rem;
    color: #5f798f;
    padding-bottom: 2%;
}

.disclaimer-title {
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin-top: 80px;
    background-color: var(--blue);
}

.rights {
    color: #5f798f;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 0.8rem;

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 10%
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 5%;
    color: var(--white);
    font-weight: bold;
    padding-bottom: 5%;
    font-size: 1.2rem;
}

.about-us-title{
font-size: 1.8rem;
padding-bottom: 2%;
padding-top: 2%;
color: var(--white);
font-weight: bold;
}

.about-us p{
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%
}

.signup-btn{
    margin-top:4%
}


  .card-1 {
    background-color: #18a0fb;
    border: 5px solid #18a0fb;
    border-radius: 0.375rem;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8em;
    width:30%
  }
  
  .card-2 {
    background-color: var(--green);
    border-radius: 0.375rem;
    border: 5px solid var(--green);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8em;
    width:30%
  }
  
  .card-1:hover {
    border: 5px solid #18a0fb;
    box-shadow: 25px 25px #18a0fb;
    background-color: white;
    color: #18a0fb;
    transition: 0.5s;
    transform: translate(20px, 20px);
  }
  
  .card-2:hover {
    border: 5px solid var(--green);
    box-shadow: 25px 25px var(--green);
    background-color: white;
    color: var(--green);
    transition: 0.5s;
    transform: translate(20px,20px )
  }

  a{
    text-decoration: none;
    color: white
  }

  a:hover{
    color: var(--green);
  }