<div class="header">
    <div class="logo-container">
        <a [routerLink]="['/']"><img class="header-logo" src="assets/images/logo.svg"></a>
    </div>
    <div class="sections">
        <div>Platform</div>
        <div>Operators</div>
        <div>Brokers</div>
        <div>AboutUs</div>
        <button type="button" class="button btn" (click)="login()">Log in</button>
    </div>
</div>
<div class="map text-light">
    <div class="map-text">
        <h1>Live Marketplace</h1>
        <p>Connecting private Air Charter </p>
        <p>Brokers and operators</p>
        <button type="button" class="button btn signup-btn" (click)="login()">Sign up</button>
    </div>
</div>
<div class="platform text-light">
    <h4 class="platform-title">One platform - Endless opportunities</h4>
    <div class="card-container">
        <div class="card-1">
            <p class="platform-text">Providing operators and brokers revolutionary solutions, ample possibilities, and
                new
                opportunities to capitalize on their charter requests, making far better use of market demand in
                real-time.
            </p>
        </div>
        <div class="card-2">
            <p class="platform-text">Access our powerful tools and all the real-time information, both brokers and
                operators
                need to make an informed decision without picking up the phone.</p>
        </div>
    </div>
    <div>
        <ul class="list">
            <li>Live requests</li>
            <li>Accurate pricing</li>
            <li>Full transparency</li>
            <li>Instant notifications</li>
            <li>New business</li>
        </ul>
    </div>
</div>
<div class="section">
    <h4 class="section-title">SkyBid for Operators</h4>
    <div class="section-content">
        <img src="assets/images/operator.jpg">
        <div class="section-text section-right">
            <div class="box">
                <h4>Fair competition</h4>
                <p>View other operator's quotes and win the business by offering a competitive bid or a better match for
                    a
                    broker's specific trip requirement.</p>
            </div>
            <div class="box">
                <h4>Smart Marketing</h4>
                <p>Upload your credentials and specifications and market your aircraft directly to brokers worldwide.
                </p>
            </div>
            <div class="box">
                <h4>Instant Alerts</h4>
                <p>Get instant alerts about requested flights and messages.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <h4 class="section-title">SkyBid for Brokers</h4>
    <div class="section-content reverse">
        <img src="assets/images/broker.jpg">
        <div class="section-text section-left">
            <div class="box">
                <h4>Real-time Pricing</h4>
                <p>Competitive bidding between operators. Receive price quotes and new bids in real-time</p>
            </div>
            <div class="box">
                <h4>Full Transparency</h4>
                <p>Select a charter provider that best matches your business objectives and values not just on price.
                </p>
            </div>
            <div class="box">
                <h4>Efficient Purchase</h4>
                <p>SkyBid enables you to avoid lengthy negotiations and to immediately compare offers from participants
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="about-us">
        <div class="about-us-title">
        <p>About Us</p>
        </div>
        <p>The Team behind SkyBid has decades of experience in aircraft management, operations, charter brokerage, and
            flight support. We realized there was a glaring issue within the charter market in regard to price accuracy
            and price transparency. We wanted to provide a level playing field for operators and brokers alike.</p>
        <p>So, using our expertise of working on a global level, coupled with our knowledge of serving an international
            customer base, we set about creating the world's first live charter bidding platform.</p>
        <p>The result is SkyBid. An innovative and technically advanced platform that helps charter operators and
            charter brokers find each other from different corners of the world and enables them to execute transactions
            based on price accuracy and transparency, all in real-time.</p>
    </div>
    <div class="disclaimer">
        <p class="disclaimer-title">Disclaimer</p>
        <p>SkyBid is not an Air Carrier nor an Operator. AeroBid does not own or operate any aircraft.</p>
    </div>
    <div class="header">
        <div class="logo-container">
            <a [routerLink]="['/']"><img class="header-logo" src="assets/images/logo.svg"></a>
        </div>
        <div class="sections">
            <div>Platform</div>
            <div>Operators</div>
            <div>Brokers</div>
            <div>AboutUs</div>
        </div>
    </div>
    <div class="rights">All Rights Reserved - © ACOM Aviation Ltd 2021 - 2023</div>
</div>