<form (submit)="create()">
    <div class="page-container" #container>
        <div class="flex">
            <div class="mb-3 ">
                <label for="trip" class="form-label">Trip</label>
                <select id="trip" class="form-select" [(ngModel)]="model.trip" name="trip">
                    <option value="one-way">One-way</option>
                    <option value="round-trip">Round-trip</option>
                </select>
            </div>
            <div class="mb-3 ">
                <label for="pax" class="form-label">Pax</label>
                <select id="pax" class="form-select" [(ngModel)]="model.passengers"  name="pax">
                    <option *ngFor="let passenger of numbers" [value]="passenger.value">{{passenger.value}}</option>
                </select>
            </div>
        </div>
        <div class="flex">
            <div class="mb-3 ">
                <label for="from" class="form-label">From</label>
                <select id="from" class="form-select" [(ngModel)]="model.from" name="from">
                    <option *ngFor="let airport of airports" [value]="airport.name">{{airport.code}} - {{airport.name}}</option>
                </select>
            </div>
            <div class="mb-3 ">
                <label for="to" class="form-label">To</label>
                <select id="to" class="form-select" [(ngModel)]="model.to" name="to">
                    <option *ngFor="let airport of airports" [value]="airport.name">{{airport.code}} - {{airport.name}}</option>
                </select>
            </div>
        </div>

        <div class="flex">
            <div class="mb-3 ">
                <label for="departure" class="form-label">Departure Date</label>
                <input type="date" id="departure" class="form-control" [(ngModel)]="model.departure_date"
                    name="departure">
            </div>
            <div class="mb-3 ">
                <label for="return" class="form-label">Return Date</label>
                <input type="date" id="return" class="form-control" [(ngModel)]="model.return_date" name="return">
            </div>
        </div>
        <div class="mb-3 ">
            <label for="luggage" class="form-label">Luggage number</label>
            <select id="luggage" class="form-select" [(ngModel)]="model.luggage"  name="luggage">
                    <option *ngFor="let luggage of numbers" [value]="luggage.value">{{luggage.value}}</option>
                </select>
        </div>
        <div class="btn-flex">
            <button type="submit" class="create-button btn">Create</button>
        </div>
    </div>
</form>