.register-container{
    display: flex;
    flex-direction: row;
}

.solid{
    background-color: var(--darkblue);
    height: 100vh;
    width: 30%;
}
.logo{
    color :var(--darkblue);
    font-family: 'racing sans one';
    font-size: 2.5rem;
}
.bid{
    color: var(--green)
}


form{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 5%;
    color :var(--darkblue);
}

.form-label{
    color: var(--darkblue);
}
.register-button{
    background-color: var(--green);
    color: var(--white);
    width: 100%
}
.flex{
    display: flex;
    gap : 50px

}

.flex > * {flex: 1}
