.register-container{
    display: flex;
    height: 100vh;
    color:var(--darkblue)
}

.solid{
    background-color: var(--darkblue);
    flex:1
}
.register{
    flex: 3;
    overflow-y:auto;
    padding-left: 5%;
    padding-right: 5%
}

.register-text{
    color: var(--darkblue);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2%
}
.register::-webkit-scrollbar{
   display:none
}
.logo{
    color :var(--darkblue);
    font-family: 'racing sans one';
    font-size: 2.5rem;
    margin-bottom: 5%
}
.bid{
    color: var(--green)
}

.signup{
    color: var(--darkblue);
    margin-bottom: 6%
    
}
a{
    text-decoration: none !important;
}

.details{
    font-weight: bold;
    margin-bottom: 5%;
}


form{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 5%;
    color :var(--darkblue);
}

.form-label{
    color: var(--darkblue);
}


.register-button{
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 30px;
    margin-top: 30px;
}
.flex{
    display: flex;
    gap : 50px

}
.btn-flex{
    display:flex;
   flex-direction: row-reverse;
}

.flex > * {
    flex: 1
}
