<div class="grid">
  <kendo-grid
    [data]="gridData"
    (cellClick)="cellClick($event)"
    [sort]="sort"
    (sortChange)="sortChange($event)"
    [resizable]="true"
    [navigable]="true"
    [pageable]="true"
    [scrollable]="'scrollable'"
    [selectable]="true"
    [loading]="loading"
    [style.height.px]="500"
    [style.width.%]="100"
    kendoGridSelectBy="_id"
    [(selectedKeys)]="mySelection"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoButton class="toolbar-btn" [icon]="'add'" (click)="accept()">
        Accept
      </button>
      <button kendoButton class="toolbar-btn" [icon]="'add'" (click)="addComment()">
        Add comment
      </button>
    </ng-template>

    <kendo-grid-checkbox-column [width]="25" [showSelectAll]="true">
    </kendo-grid-checkbox-column>

    <ng-template kendoPagerTemplate let-total="total">
      <app-grid-pager [total]="total" [selected]="mySelection.length">
      </app-grid-pager>
    </ng-template>

    <ng-template kendoGridToolbarTemplate> </ng-template>

    <kendo-grid-column
      field="operator.company_name"
      title="Operator"
      [width]="80"
      [class]="{ 'text-right': true }"
      [headerClass]="{ 'text-center': true }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="aircraft.aircraft"
      title="Aircraft"
      [width]="80"
      [class]="{ 'text-left': true }"
      [headerClass]="{ 'text-center': true }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="aircraft.year_of_manufacture"
      title="Year of manufacture"
      [width]="90"
      [class]="{ 'text-left': true }"
      [headerClass]="{ 'text-left': true }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="price"
      title="Bid"
      [width]="60"
      [class]="{ 'text-left': true }"
      [headerClass]="{ 'text-left': true }"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <span class="currency-symbol">USD</span> {{dataItem.price }}
    </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
<div class="k-overlay" *ngIf="opened"></div>

<ng-template #windowTitleBar let-win>
  <div class="k-window-title">{{ dialog_title }}</div>
  <button kendoWindowCloseAction [window]="win"></button>
</ng-template>
