<div class="header">
    <div class="logo-container">
        <a [routerLink]="['/']"><img class="logo" src="assets/images/logo.png"></a>
    </div>
    <div class="sections">
        <div>Platform</div>
        <div>Operators</div>
        <div>Brokers</div>
        <div>AboutUs</div>
    </div>
    <button type="button" class="login btn" onclick="login()">Login</button>
</div>
<div class="map text-light">
    <div class="text">
        <div class="logo">
            <p>Sky<span class="bid">Bid</span></p>
        </div>
        <p>Real-time tools</p>
        <p>For Air Charter Professionnals</p>
        <!-- <p>Accurate and transparent realtime pricing</p> -->
        <button type="button" class="signup btn" onclick="signup()">Signup</button>
    </div>
</div>
<div class="platform text-light">
    <h4 class="platform-title">One platform - Endless opportunities</h4>
    <p class="platform-text">Providing operators and brokers revolutionary solutions, ample possibilities, and new
        opportunities to capitalize on their charter requests, making far better use of market demand in real-time.</p>
    <p class="platform-text">Access our powerful tools and all the real-time information, both brokers and operators
        need to make an informed decision without picking up the phone.</p>
    <ul class="list">
        <li>Live requests</li>
        <li>Accurate pricing</li>
        <li>Full transparency</li>
        <li>Instant notifications</li>
        <li>New business</li>
    </ul>
</div>
<div class="operators">
    <h4 class="operator-title">SkyBid for Operators</h4>
    <img src="assets/images/operator.jpg">
    <div class="operator-text">
        <div class="operator-row1">
            <div class="box">
                <h6>Fair competition</h6>
                <p>View other operator's quotes and win the business by offering a competitive bid or a better match for
                    a
                    broker's specific trip requirement.</p>
            </div>
            <div class="box">
                <h6>Direct Messages</h6>
                <p>Access Broker’s details via our Directory and use our in-app messaging feature to initiate business,
                    share photos and files.</p>
            </div>
        </div>
        <div class="operator-row2">
            <div class="box">
                <h6>Smart Marketing</h6>
                <p>Upload your credentials and specifications and market your aircraft directly to brokers worldwide. </p>
            </div>
            <div class="box">
                <h6>Instant Alerts</h6>
                <p>Get instant alerts about requested flights within your chosen airport, city, or region.</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>