.header {
    background: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white
}
.sections{
    display : flex;
    gap : 30px;
    align-items: center;
}

.login{
    background-color: var(--green);
    color: var(--white);
}

.logo{
    width: 50px;
    height: 50px;
    color :var(--white);
    font-family: 'racing sans one';
    font-size: 1.5rem;
}

.bid{
    color: var(--green)
}


.map{
    background-image: url('../assets/images/map.png');
    background-position: cover ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin : 30px;
    height : 80vh;

}

.signup{
    background-color: var(--green);
    color : var(--white);
    margin-top: 10px;
}
.text{
    position: relative;
    top: 260px;
    padding-left: 1%
}

p{
    margin-bottom: 0rem;
}