.header {
    background: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white
}
.sections{
    display : flex;
    gap : 30px;
    align-items: center;
}

.login{
    background-color: var(--green);
    color: var(--white);
}

.logo{
    width: 50px;
    height: 50px;
    color :var(--white);
    font-family: 'racing sans one';
    font-size: 1.5rem;
}

.bid{
    color: var(--green)
}


.map{
    background-image: url('../assets/images/map.png');
    background-position: cover ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin : 50px;
    height : 80vh;
    border-radius: 0.375rem;

}

.signup{
    background-color: var(--green);
    color : var(--white);
    margin-top: 10px;
}
.text{
    position: relative;
    top: 260px;
    padding-left: 1%
}

p{
    margin-bottom: 0rem;
}

.platform{ 
    background-color: var(--darkblue);
    width: 60%;
   margin: auto;
   border-radius: 0.375rem;
}
.platform-title{
text-align: center;
padding-top: 5%;
font-weight: bold;
}

.platform-text{
    padding: 5% 5%;
    font-weight: lighter;
}

.list{
    padding-bottom: 5%;
    margin-left: 5%;
    font-weight: lighter;
}

.operators{
    margin-top: 50px;
}

.operator-title{
    text-align: center;
    color: var(--darkblue)
}

.operator-text{
    width: 50%;
   margin: auto;
}

.operators img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 0.375rem;
    margin-bottom: 40px;
}

.operator-row1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap:30px;
    margin-bottom : 20px
}

.box:hover{
    background-color: var(--green);
    border-radius: 0.375rem;
    color: var(--white)
}

.operator-row2{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap:30px
}

.operators p{
    font-weight: lighter;
}
