<div class="side-menu">
    <a [routerLink]="['/request-list']" *ngIf="user_role === 'operator'" [class.selected]="selected_page === 'request-list'" (click)="selectPage('request-list')">Requests</a>
    <a [routerLink]="['/aircrafts']" *ngIf="user_role === 'operator'" [class.selected]="selected_page === 'aircrafts'" (click)="selectPage('aircrafts')">Aircrafts</a>
    <a [routerLink]="['/dashboard']" *ngIf="user_role === 'admin'"[class.selected]="selected_page === 'aircrafts'" (click)="selectPage('dashboard')">Dashboard</a>
    <a [routerLink]="['/users']" *ngIf="user_role === 'admin'"[class.selected]="selected_page === 'request-list'" (click)="selectPage('users')">Users</a>
  </div>
