.side-menu {
    height: 100%;
    position: sticky;
    width: 20vw;
    background-color: var(--darkblue);
    overflow-x: hidden;
    padding-top: 20%;
    overflow: auto;
  }

  .side-menu a {
    padding: 7% 15%;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    transition: 0.3s;
  }


  a.selected{
    color:white;
    background-color: var(--green);
  }

  /* .loading{
    height: 100vh
  } */

  
  