<div class="side-menu">
    <a [routerLink]="['/request-list']" *ngIf="user_role === 'operator'" [ngClass]="{ 'selected': isCurrentRoute('/request-list') }">Requests</a>
    <a [routerLink]="['/aircrafts']" *ngIf="user_role === 'operator'" [ngClass]="{ 'selected': isCurrentRoute('/aircrafts') }">Aircrafts</a>
    <a [routerLink]="['/dashboard']" *ngIf="user_role === 'admin'"[ngClass]="{ 'selected': isCurrentRoute('/dashboard') }">Dashboard</a>
    <a [routerLink]="['/users']" *ngIf="user_role === 'admin'"[ngClass]="{ 'selected': isCurrentRoute('/users') }">Users</a>
    <a [routerLink]="['/broker-requests']" *ngIf="user_role === 'broker'"[ngClass]="{ 'selected': isCurrentRoute('/broker-requests') }" >Requests</a>
  </div>
