<div class="side-menu" [ngClass]="{'loading': is_loading, 'loaded': !is_loading}">
    <a [routerLink]="['/request-list']" *ngIf="user_role === 'operator'" [class.selected]="selected_page === 'request-list'" (click)="selectPage('request-list')">Requests</a>
    <a [routerLink]="['/aircrafts']" *ngIf="user_role === 'operator'" [class.selected]="selected_page === 'aircrafts'" (click)="selectPage('aircrafts')">Aircrafts</a>
    <a [routerLink]="['/dashboard']" *ngIf="user_role === 'admin'"[class.selected]="selected_page === 'dashboard'" (click)="selectPage('dashboard')">Dashboard</a>
    <a [routerLink]="['/users']" *ngIf="user_role === 'admin'"[class.selected]="selected_page === 'users'" (click)="selectPage('users')">Users</a>
    <a [routerLink]="['/broker-requests']" *ngIf="user_role === 'broker'"[class.selected]="selected_page === 'broker-requests'" (click)="selectPage('users')">Requests</a>
  </div>
