.side-menu {
    height: 100%;
    width: 350px;
    background-color: var(--darkblue);
    overflow-x: hidden;
    padding-top: 20%;
  }

  .side-menu a {
    padding: 5% 10%;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    transition: 0.3s;
  }


  .loading {
    height: 100vh;
  }
  
  .loaded {
    height: 100%; 
  }

  a.selected{
    color:white;
    background-color: var(--green);
  }
  