<div class="operator-info">
    <h5>Please contact the operator to finalize the deal</h5>
    <div class="operator-info-row">
        <span class="label">Name:</span>
        <span class="value">{{model.company_name}}</span>
    </div>
    <div class="operator-info-row">
        <span class="label">Address:</span>
        <span class="value">{{model.address}}</span>
    </div>

    <div class="operator-info-row">
        <span class="label">Phone:</span>
        <span class="value">{{model.phone}}</span>
    </div>
    <div class="operator-info-row">
        <span class="label">Email:</span>
        <span class="value">{{model.email}}</span>
    </div>
   
  </div>
