
<div class="card">
    <img *ngIf="aircraft.image; else noImage" [src]="aircraft.image" alt="Aircraft image" class="card-img-top">
    <ng-template #noImage>
      <div class="card-img-placeholder">No image available</div>
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ aircraft.aircraft }}</h5>
      <p class="card-text">Passengers: {{ aircraft.passengers }}</p>
      <p class="card-text">Year of manufacture: {{ aircraft.year_of_manufacture }}</p>
      <button class="btn btn-primary" (click)="addImage()">Add Image</button>
      <button *ngIf="aircraft.image" class="btn btn-danger" (click)="deleteImage()">Delete Image</button>
      <button class="btn btn-danger" (click)="deleteAircraft()">Delete Aircraft</button>
    </div>
  </div>