<app-header></app-header>
    <div class="page-container">
        <app-side-menu></app-side-menu>
        <div class="content-container">
            <div class="title">
                <h4>Aircrafts</h4>
                <div class="action-button">
                    <button class="btn add-button" (click)="addAircraft()">Add Aircraft</button>
                </div>
            </div>
            <ng-container *ngIf="aircrafts.length > 0; else emptyState">
                <div class="aircraft-container">
                    <div *ngFor="let aircraft of aircrafts" class="card">
                        <img *ngIf="aircraft.image; else noImage" [src]="serverUrl + aircraft.image.url"
                            alt="Aircraft image" class="card-img-top">
                        <ng-template #noImage>
                            <div class="card-img-placeholder">No image available</div>
                        </ng-template>
                        <div class="card-body">
                            <h5 class="card-title">{{ aircraft.aircraft }}</h5>
                            <p class="card-text">Passengers: {{ aircraft.passengers }}</p>
                            <p class="card-text">Year of manufacture: {{ aircraft.year_of_manufacture }}</p>
                            <button *ngIf="!aircraft.image" class="btn add" (click)="fileInput.click()">Add Image</button>
                            <input #fileInput type="file" style="display: none;" (change)="onFileChange($event, aircraft._id,aircraft)" accept=".jpg, .jpeg, .png" />
                            <button *ngIf="aircraft.image" class="btn update" (click)="fileInput.click()">Update
                                Image</button>
                            <button class="btn danger" (click)="deleteAircraft(aircraft._id)">Delete Aircraft</button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #emptyState>
                <div class="empty-container">
                    <h2>No available aircrafts</h2>
                    <img class="empty" src="../../../assets/images/aircraft1.png">
                </div>
            </ng-template>
        </div>
    </div>

<div class="k-overlay" *ngIf="opened"></div>