.aircraft-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 5% 2%;
    justify-content: space-between;
  }

  .card {
    width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .card-img-top,
.card-img-placeholder {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    color: #6c757d;
    font-size: 14px;
  }

  .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:var(--darkblue)
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .add{
    background-color: var(--green);
    color: white
  }

  .danger{
    background-color: rgb(220,53,69);
    color: white
  }


.card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  .page-container{
    display: flex
  }

  .content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .add-button{
    background-color: var(--green);
    color: white
  }

  .action-button{
    display: flex;
    align-self: flex-end;
    margin-right: 2%;
    width: 120px;
    margin-top: 1%;
  }
