.login-container{
    background-color: var(--darkblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 30%;
    height: 70vh;
    background-color:white;
    box-shadow: 1px 1px 10px 5px var(--green);
    z-index: 1000;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-text{
    color: var(--darkblue);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10%;
    margin-top:20%
}

.logo{
    color :var(--darkblue);
    font-family: 'racing sans one';
    font-size: 3rem;margin-bottom: 4%;
}
 
.bid{
    color: var(--green)
}
.green{
    background-color: var(--green);
    width: 50%;
    border-radius: 0.375rem 0 0 0.375rem;
}





.signup{
    color: var(--darkblue);
    margin-bottom: 6%
    
}
a{
    text-decoration: none !important;
}

form{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 3%;
    width: 85%
}

.form-label{
    color: var(--darkblue);
}

.forgot{
    color: var(--darkblue);
    position: relative;
    margin-bottom: 6%;
}

.login-button{
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    font-weight: bold
}


