.login-container{
    display: flex;
    flex-direction: row;
}

.solid{
    background-color: var(--darkblue);
    height: 100vh;
    width: 55%;
}
.logo{
    color :var(--darkblue);
    font-family: 'racing sans one';
    font-size: 2.5rem;
}
.bid{
    color: var(--green)
}

.login{
    width: 45%
}

.login-text{
    color: var(--darkblue);
}

.signup{
    color: var(--darkblue);
}

form{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 20%;
}

.form-label{
    color: var(--darkblue);
}

.forgot{
    color: var(--darkblue);
    position: relative;
    bottom: 10px;
}

.login-button{
    background-color: var(--green);
    color: var(--white);
    width: 100%
}