<form>
<div class="flex">
    <div class="mb-3 item">
        <label for="name" class="form-label">Aircraft name</label>
        <input type="text" [(ngModel)]="model" name="name" class="form-control" id="name"
            required>
    </div>
    <div class="mb-3 item">
        <label for="passengers" class="form-label">Passengers</label>
        <input type="number" [(ngModel)]="model" name="passengers" class="form-control" id="passengers"
            required>
    </div>
</div>
<div class="flex">
    <div class="mb-3 item">
        <label for="year-of-maufacture" class="form-label">Year-of-manufacture</label>
        <input type="number" [(ngModel)]="model" name="year-of-maufacture" class="form-control" id="year-of-maufacture" 
            required>
    </div>
</div>
<div class="btn-flex">
    <button type="submit" class="add-button btn" (click)="add()">Add</button>
</div>
</form>