.header {
    background: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: white
}

.notification{
    color:var(--darkblue);
    margin-right: 10%
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
