
.header {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right:1.7%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    height : 120px
}

.header-logo{
    width: 90px;
    height:100%;
}

.notification{
    color:var(--white);
    margin-right: 10%;
}


.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .k-menu-group .k-item:focus > .k-link, .k-menu-group .k-item.k-focus > .k-link, .k-menu.k-context-menu .k-item:focus > .k-link, .k-menu.k-context-menu .k-item.k-focus > .k-link{
    background-color: var(--green) !important;
  } */

  