
.header {
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right:1.7%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    height : 120px
}

.header-logo{
    width: 90px;
    height:100%;
}

.notification{
    color:var(--white);
    margin-right: 10%;
}


.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  